<h1>Drama, Comedia, Romance y más</h1>

<ul>
  <% @lists.each do |list| %>
    <li>
      <h2>
        <%= link_to list.name.capitalize, list_path(list) %>
      </h2>
    </li>
  <% end %>
</ul>

<h3>
<%= link_to "Lista Nueva", new_list_path %>
</h3>
